.container {
  align-items: center;
}
.inputBoxContent {
  text-align: center;
}
.row {
  display: inherit;
}
#h2id {
  text-align: center;
  margin-bottom: 2.5rem;
}

.textbox {
  margin-right: 5px;
}

.deletebtn {
  float: right;
}

.checkbox {
  white-space: normal;
}
.Archivedtag {
  font-family: serif;
  text-shadow: inherit;
  color: #6d7278;
  margin-bottom: 15px;
  padding-left: 10px;
}
