<div>
    <h2>Keep Note</h2>

  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="enter grocery items"
          [(ngModel)]="task"
        />
        <div class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="onClick()">
            <mat-icon>done</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <br />

  <ul class="list-group">
    <li *ngFor="let task of tasks" class="list-group-item">
      <mat-checkbox class='checkbox'(change)="OnChange(this.task.name ,$event)">{{ task.name }}</mat-checkbox>
    </li>
  </ul>
</div>


<div>
<hr>
<ul class="list-group"id='Test' style="display: none;">
    <li *ngFor="let checkedItem of checkedItems" class="list-group-item"  >
      <mat-checkbox >{{ checkedItem}}</mat-checkbox>
    </li>
  </ul>
<!-- <div>{{checkedItem}}</div> -->

</div>