<div class="container">
  <div class='toolbar'>
  <h2 id="h2id">Keep Note</h2>
  <div class="inputBoxContent">
    <div class="row " style="display: inherit">
      <div class="col-xs-6 col-md-4 " style="display:inline-block;">
        <div class="input-group">
          <input
            id="myInput"
            type="text"
            class="form-control textbox"
            required
            minlength="2"
            placeholder="Enter items"
            [(ngModel)]="task"
            (keyup.enter)="onAddItem()"
          />
          <div class="input-group-btn">
            <button
              id="myBtn"
              class="btn btn-outline-danger btn-sm"
              type="submit"
              (click)="onAddItem()"
            >
              <mat-icon>done</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Input Validation -->
    <mat-error *ngIf="!task">{{ errMsg }}</mat-error>
  </div>
  <br />
  <br />
</div>
  <!-- listing the entered Items -->
  <ul class="list-group">
    <li
      *ngFor="let task of tasks"
      class="list-group-item list-group-item-action"
    >
      <mat-checkbox (change)="OnAddToArchivedList(this.task.name, $event)">
        <span class="checkbox">{{ task.name }}</span>
      </mat-checkbox>
      <button
        class="btn btn-light deletebtn"
        (click)="deleteListItem(this.task)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </li>
  </ul>

  <hr />
  <!-- Display Archived Item -->
  <ul class="list-group" id="CheckListBlock" style="display: none;">
    <div class="Archivedtag">Archived Items</div>
    <li
      *ngFor="let checkedItem of checkedItems"
      class="list-group-item list-group-item-action"
    >
      <mat-checkbox
        checked="true"
        (change)="OnRemoveFromArchivedList(this.checkedItem, $event)"
      >
        <span class="checkbox"
          ><del>{{ checkedItem }}</del>
        </span></mat-checkbox
      >
      <button
        class="btn btn-light deletebtn"
        (click)="deleteArchivedItem(checkedItem)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </li>
  </ul>
</div>
